.container {
  display: grid;
  grid-template-columns: repeat(4, 260px);
  grid-auto-rows: 330px;
  grid-column-gap: 10px;
  grid-row-gap: 35px;
  justify-content: center;
  margin: 15px auto;
  padding: 1rem 1rem;
  color: #22262b;
  background-color: #dddddf;
  width: 98%;
  max-width: 1060px;
}

.notWeb3 {
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 80%;
  position: absolute;
  font-size: 1.6rem;
  font-weight: 400;
  margin: auto;
  text-align: center;
}

#upd-input {
  background-color: #22262b;
}

.modal {
  position:fixed;
  overflow:hidden;
  z-index: 1;
    top: 0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color:rgba(231, 231, 231, 0.288);
}

.title,
.description{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  line-height: 1;
  font-size: 1rem;
  color: #dddddf;
}

.title {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 5px auto;
}

.owner,
.price {
  margin: 0 5px;
  padding: 0;
  width: 240px;
  font-size: 1rem;
  font-weight: 300;
  display: flex;
  position: absolute;
  justify-content:flex-start;
  opacity: 0.3;
  color: #dddddf;
}

.price {
  font-size: 1.25rem;
  font-weight: 300;
  opacity: 0.5;
}
.owner {
  margin-top: 215px;
}

.card {
  background-color: #22262b;
  border-radius: 1px;
  padding: 10px;
  text-align: left;
  color: #ffffff;;
  text-decoration: none;
  transition: color 0.15s ease,background-color 0.15s ease;
  max-width: 260px;
}

.content {
  cursor: pointer;
}


.card:hover,
.card:focus,
.card:active {
  color: #ffffff;
  border-color: #ffffff;
  background-color: #383c40;

  -webkit-box-shadow: -1px 3px 11px 3px rgba(34, 60, 80, 0.2);
-moz-box-shadow: -1px 3px 11px 3px rgba(34, 60, 80, 0.2);
box-shadow: -1px 3px 11px 3px rgba(34, 60, 80, 0.2);
}

.card:hover .price,
.card:hover .owner
{
opacity: 0.8;
}


.card:hover .title,
.card:hover .description {
  color: #ffffff;
  opacity: 1;
}

@media screen and (max-width: 1070px) {
  .container {
    grid-template-columns: repeat(3, 260px);
  }
}

@media screen and (max-width: 820px) {
  .container {
    grid-template-columns: repeat(2, 260px);
  }
}

@media screen and (max-width: 550px) {
  .container {
    grid-template-columns: 260px;
  }
}


