.container {
    display: flex;
    justify-content: center;
    margin: 15px auto;
    color: #22262b;
    background-color: #dddddf;
    width: 98%;
    max-width: 1060px;
    transition: color 0.15s ease,background-color 0.15s ease;
}

.notWeb3 {
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 80%;
    position: absolute;
    font-size: 1.6rem;
    font-weight: 400;
    margin: auto;
    text-align: center;
}

.box {    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0  auto;
}

.sell_form, .withdraw {
    margin: 10px auto;
    background-color: #22262b;
    border-radius: 1px;
    color: #ffffff;;
    text-decoration: none;
    transition: color 0.15s ease,background-color 0.15s ease;
    width: 100%;
    height: auto;
    max-width: 500px;
    font-size: 1.15rem;
}
.withdraw{
    min-height: 220px;
}

.head{
    display: flex;
    justify-content: space-between;
    background-color: #74328a;
    color: #dddddf;
    padding: 10px;
    font-size: 1.25rem;
    border: 2px solid #22262b;
}

.head span {
    height: 22px;
      width: 22px;
    color: #dddddf;
}

.main{
    display: block;
    margin: 12px;
    
}

.approve, .nftAddress,.tokenId,.price_input,.sell_btn, 
.withdraw_btn,.proceeds {
    display: block;
    margin: 15px  auto;
    text-align: center;
}

.approve span,.proceeds span{
    font-style: italic;
    font-size: 1rem;
    font-weight: 200;
    background-color: #383c40;
    color: #ffffff;
    padding: 2px 5px;
    border-radius: 5px;
}

.proceeds div{
    margin-bottom: 10px;
}

.proceeds span{
    font-weight: 400;
    font-size: 1.05rem;
    padding: 2px 10px;
}

.nftAddress input,
.tokenId input,
.price_input input {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 100;
    margin-top: 3px;
    width: 220px;
    height: 36px;
    background-color: #dddddf;
    color: #22262b;
    border-width: 0px;
    border-radius: 5px;
    padding-left: 5px;
    border: 1px solid #ffffff;   
}

.nftAddress input{
    text-align: center;
    width: 100%;
    max-width: 410px;
    font-size: 1rem;
}

.price_input input {
    margin-left: 25px;
}

.nftAddress input:focus,
.tokenId input:focus,
.price_input input:focus {
    outline: none;
    transition: 0.1s;
    border: 1px solid   #74328a;
}

.sell_form hr, .withdraw hr{
    width: 92%;
    border: none;
    border-top: 1px solid #dddddf;
}

.sell_btn, .withdraw_btn{
    font-size: 1.1rem;
    border: none;
    background-color: #383c40;
    color: #dddddf;
    width: 200px;
    height: 40px;
    transition: color 0.15s ease,background-color 0.15s ease;
    margin-bottom: 10px;
}

.sell_btn:hover, .withdraw_btn:hover{
    background-color: #4e5155;;
    color: #ffffff;
}



